<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="~{/header}"></div>
<br><br><br>

<span class="error" id="selectionsuccessmessage" style="color:red;"></span>	

<span class="error" id="emptycheckboxerror" style="color:red;"></span>							
	

<div class="container mt-4">
<form name="myForm" id="myForm" onsubmit="submitForm(event)">
<table class="table table-striped table-hover table-bordered">
<thead class="table-dark">
<th style="width:10%">#</th>
<th style="width:20%">Player Name</th>
<th style="width:30%">Select Player</th>
</thead>
<tbody>
<tr th:each = "player, playerStat : ${players}">
<td th:text="${playerStat.count}">1</td>
<td th:text="${player.playername}" name="playername">playername</td>
<td>
<input type="checkbox" name="playerid" th:id="'player_' + ${player.id}" th:value="${player.id}">
</td>
<td style="display:none;">
<input  type="hidden" name="userid" th:value="${user.id}" readonly>
</td>
</tr>
<tr>
<td colspan="6"><input class="btn btn-success" type="submit" id="submitButton" value="Submit"></td>
</tr>
</tbody>
</table>
</form>
</div>
</body>
<script th:src="@{/js/selectionformvalidation.js}"></script>

</html>